<div class="container">
	<div class="row">
	<div class="col-sm-12 text-left">
		<h2>Edit Your Post</h2>
	</div>
	</div>
	<form action="/edit/<%= params[:id] %>" method="post">
		<%= token_tag form_authenticity_token %>
		<div class="row">
				<div class="row">
					<label for="title" class="col-sm-12 text-left">Title</label>
					<input id="post_title" name="post[title]" class="col-sm-3 text-left"><%= @post.title  %></input>
				</div>

				<div class="row">
					<label for "name" class="col-sm-12 text-left">Name</label>
					<input id="post_name" name="post[name]" class="col-sm-3 text-left"><%= @post.name  %></input>
				</div>

				<div class="row">
					<label for="content" class="col-sm-12 text-left">Message</label>
					<textarea id="post_content" name="post[content]" class="col-sm-12"><%= @post.content  %></textarea>
				</div>
				
				<div class="col-sm-6 col-sm-offset-6 text-right">
					<button name="button" class="btn-submit">Update Post</button>
				</div>
	</form>

				<form action="posts/new" method="link">
					<input class="btn" type="submit" value="Delete Post">
				</form>

		</div>
<!-- try padding! -->
</div>


