<!DOCTYPE html>
<html>
<head>
  <title>MessageBoard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</head>

<body>

<nav class="navbar navbar-default navbar-fluid" role="navigation">
	<div class="col-sm-12 text-right">
		<p>
			<%= link_to "Your Posts", user_posts_path , :method => :get if user_signed_in? %>
			<%= link_to "Login", new_user_session_path, :method => :new if current_user.nil? %>
			<%= link_to "Logout", destroy_user_session_path , :method => :delete if user_signed_in? %>
		</p>

		<div class="text-left">
			<form action="posts/new" method="link">
				<input type="submit" value="Create Post">
			</form>
		</div>

	</div>

</nav>



<%= yield %>

</body>
</html>
