<!DOCTYPE html>
<html>
<head>
  <title>MessageBoard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</head>

<body>
	<div class="container">
		<div class="row">
			<div class="text-right">
				<p>
					<%= link_to "Your Posts", user_posts_path , :method => :get if user_signed_in? %> |
					<%= link_to "Login", new_user_session_path, :method => :new if current_user.nil? %> |
					<%= link_to "Logout", destroy_user_session_path , :method => :delete if user_signed_in? %>
				</p>
			</div>
		</div>
		<div class="row">
			<h1>Message Board</h1>
		</div>		
		<div class="row top-bar">
			<div class="col-sm-6">
				<form action="/posts/new" method="link">
					<input class="btn create-post-button" type="submit" value="Create Post">
				</form>
			</div>
			<div class="col-sm-6 text-right list-link">
				<%= link_to "List", root_path %>
			</div>
		</div>
		<%= yield %>
	</div>
</body>
</html>
